[submodule "cachier-service"]
	path = cachier-service
	url = git@github.com:apinanyogaratnam/cachier-service
[submodule "cachier-python"]
	path = cachier-python
	url = git@github.com:apinanyogaratnam/cachier-python
[submodule "cachier-js"]
	path = cachier-js
	url = git@github.com:apinanyogaratnam/cachier-js
[submodule "cachier-rust"]
	path = cachier-rust
	url = git@github.com:apinanyogaratnam/cachier-rust
[submodule "cachier-common-library"]
	path = cachier-common-library
	url = git@github.com:apinanyogaratnam/cachier-common-library
